.background_img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.home_img, .about_img {
    width: 100%;
    height: 223px;
}

.home_img {
    position: relative;
}

.home_img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000047;
    z-index: 10;
    border-radius: 25px;
}

.home_title {
    position: absolute;
    top: 80px;
    
    width: 100%;
    margin: 0;
    z-index: 10;

    color: white;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

@media screen and (max-width: 426px) {
    .background_img {
        border-radius: 10px;
    }

    .home_title_image {
        width: 80%;
        height: 111px;
    }

    .home_img {
        height: 111px;
    }

    .home_img::before {
        border-radius: 10px;
    }

    .home_title {
        width: 90%;
        left: 35%;
        top: 60%;
        margin-left: -100px;
        margin-top: -27px;
        font-size: 20px;
        word-break: break-word;
        text-align: left;
    }

    .about_img {
        height: 250px;
    }
}