.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 210px;
  height: auto;
  margin: 40px 0 63px 0;
}

.nav_menu {
  display: flex;
  justify-content: space-around;
  width: 300px;
  font-size: 24px;
}

.nav_menu a {
  color: #FF6060;
  text-decoration: none;
}

.underline {
  text-decoration: underline !important;
  text-underline-offset: 5px;
}

@media screen and (max-width: 426px) {
  .navbar {
      margin: 20px;
  }

  .nav_menu {
    font-size: 12px;
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
  }

  .logo {
      width: 141px;
      margin: 0px;
  }

  .logo img {
      width: 100%;
  }
}