.house_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px 0;
    margin: 50px 43px;
    justify-items: center;
    background-color: #F6F6F6;
    padding: 46px 16px;
    border-radius: 25px;
}

.thumb {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    width: 85%;
    aspect-ratio: 1/1;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.67px;
    color: white;
    background-size: cover;
    position: relative;
}

.thumb p {
    position: absolute;
    bottom: 0%;
    margin-left: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

@media screen and (min-width: 426.1px) and (max-width: 1024px) {
    .house_list {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px 0;
        padding: 30px 0;
        margin: 20px 0;
    }
}

@media screen and (max-width: 426px) {
    .house_list {
        grid-template-columns: 1fr;
        grid-gap: 25px;
        margin: 0;
        padding: 25px 0;
        background-color: white;
    }

    .thumb {
        width: 100%;
    }
}