* {
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: auto;
  max-width: 1440px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FF6060;
}

.main_content_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FF6060;
}

/* // ========= MOBILE ========= // */

@media screen and (max-width: 426px) {

  .container {
    margin: 20px 0;
  }

  .main_content {
    margin: 0 15px;
  }

  .main_content_home {
    margin: 0 5%;
  }
}